@import "../../../mixins.scss";
.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: contain;
}

.product-image > .image-wrapper {
  & > img {
    @include phones-tablets-up {
      width: 250px;
      padding: 5px;
    }
  }
}
