@import "../../../mixins.scss";

.drop-down-container {
  font-size: 20px;
  line-height: 20px;
  padding: 0 16px;
  height: 48px;
  background-color: #fff;
  border: 1px solid rgb(229, 151, 0);
  box-shadow: inset 0 1px 4px 0 rgba(229, 151, 0, 0.3);
  border-radius: 3px;
  color: rgb(35, 38, 59);
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  &__svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    & svg {
      transform: rotate(90deg);
      position: absolute;
      right: 10px;
    }
  }

  &__value {
    padding: 0 3px;
    white-space: nowrap;
    margin-right: 20px;
    overflow: hidden;
  }

  &__options {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    position: absolute;
    top: 46px;
    left: -2px;
    z-index: 1;
    background-color: rgb(252, 252, 252);
    width: calc(100% + 4px);
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0392156863), 0 10px 15px 0 rgba(0, 0, 0, 0.0392156863);
    padding: 0 18px;
    max-height: 210px;
    overflow-y: scroll;
    cursor: pointer;
    outline: none;

    @include phones-tablets-up {
      ::-webkit-scrollbar {
        width: 16px; /* Width of the entire scrollbar */
      }

      ::-webkit-scrollbar-track {
        background: transparent; /* Make the scrollbar track transparent */
      }

      ::-webkit-scrollbar-thumb {
        background-color: rgb(229, 151, 0); /* Color of the scrollbar thumb */
        border-radius: 10px; /* Roundness of the scrollbar thumb */
        border: 3px solid transparent; /* Padding around the scrollbar thumb */
      }

      ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color of the scrollbar thumb when hovered */
      }

      /* For Firefox */
      scrollbar-width: 10px; /* Width of the scrollbar */
      scrollbar-color: rgb(234, 160, 12) transparent; /* Color of the scrollbar thumb and transparent track */
    }

    &--option {
      padding: 10px 0;
    }
    &--separator {
      font-weight: bold;
      margin: 5px 0px -5px -5px;
      cursor: default;
    }
  }
  &__error {
    font-size: 14px;
    color: rgb(255, 90, 90);
    margin-left: 2px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  &__placeholder {
    color: #a9a9a9;
  }
  &:focus {
    border: 2px solid #e59700;
  }
  &__label {
    color: #e59700;
    font-size: 16px;
    background-color: white;
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 0 3px;
  }
}

.error-border {
  border: 2px solid rgb(255, 90, 90) !important;
}

.error-color {
  color: rgb(255, 90, 90);
}
