.menu-container {
  overscroll-behavior: contain;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.4);
  transition: transform 1.2s;
  transform: translateX(-100%);

  &--opened {
    transform: translateX(0%);
  }
  &__menu {
    background-color: white;
    width: 85%;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    transition: transform 1.1s;
    &--opened {
      transform: translateX(0%);
    }
  }
}

.menu-row {
  padding: 7px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &__title {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  &__icon {
    margin-right: 10px;
  }
  &-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-expandable {
    background-color: white;
  }

  & > img {
    margin-right: 5px;
  }
}

.menu-content {
  font-size: 15px;
  // from cursive
  font-family: auto;
  &__rows {
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &--header {
    height: 85px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    &--appname {
      font-size: 29px;
      font-weight: bold;
      background-image: linear-gradient(92deg, #fcdc04 0%, #f26023 100%);
      color: transparent;
      background-clip: text;
    }
  }

  &__inner {
    &__content {
      max-height: 0;
      overflow: hidden;
      transition: 0.3s linear;
      position: relative;
      //  box-shadow: inset 0 8px 25px -10px #ccc, inset 0px -8px 25px -10px #ccc;
      padding-left: 20px;
    }
  }
}

.svg-container {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}
