@import "../../mixins.scss";

.cart-container-div {
  margin-bottom: -10px;
}

.cart-content {
  @include phones-tablets-up {
    flex: 1.2;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    margin-bottom: 14px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 10px 15px 0px;
    height: max-content;
  }

  margin: 10px;
  &--wrapper {
    filter: blur(0px);
    overflow: hidden;
    transition: all 0.3s ease-in;
    @include phones-tablets-up {
      margin: 15px;
      margin-bottom: 20px;

      &:last-child hr {
        border: 1px solid white;
        margin: 0;
      }
    }
  }
  &--fix-element {
    padding-top: 25px;
  }
  &__item {
    display: flex;
    position: relative;
    margin-left: 5px;
    cursor: pointer;

    &--trashcan {
      position: absolute;
      top: -8px;
      right: 5px;
      display: flex;
      width: 30px;
      justify-content: flex-end;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        cursor: pointer;
      }
    }

    &--info {
      margin-right: 40px;
    }

    &--image__container {
      &--image {
        margin-right: 10px;
      }
      &--discount {
        position: absolute;
        top: 0;
        left: 55px;
        background-color: wheat;
        padding: 2px 8px;
        border-radius: 3px;
        font-size: 14px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
      }
    }
  }
}

.cart-price-count {
  display: flex;
  margin-left: 5px;
  &--count {
    display: flex;
    justify-content: space-between;
    width: 100px;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 5px;
    &__button {
      padding: 0 10px 0 10px;
    }
  }

  &--price {
    margin-left: auto;
    margin-right: 5px;
    position: relative;
    &__content {
      position: absolute;
      right: 0px;
      bottom: 0;
      &--full-price {
        font-size: 17px;
        text-align: right;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      &--discount {
        text-align: right;
        color: rgb(155, 155, 155);
        font-size: 14px;
        text-decoration: line-through;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
    }
  }
}

.cart-desktop-container {
  &__prices {
    display: inline;
  }
  @include phones-tablets-up {
    display: flex;
    &__prices {
      position: sticky;
      top: 141px;
      flex: 1;
      margin: 10px;
      border: 1px solid rgb(229, 229, 229);
      border-radius: 4px;
      margin-bottom: 14px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 10px 15px 0px;
      height: max-content;
    }
  }
}

.cart-order {
  margin: 30px 15px 0px 15px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  @include phones-tablets-up {
    margin: 15px 15px 0px 15px;
  }
  &__delivery-pay-price-container {
    position: sticky;
    bottom: 0;
    background-color: white;
    margin: 0 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

    @include phones-tablets-up {
      margin: 0 15px 5px 15px;
    }
    &--finish-order {
      padding: 16px;
      text-align: center;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
        Geneva, Verdana, sans-serif;
      color: black;
      width: 100%;
      border-radius: 5px;
      margin: 8px 0;
      background-color: #f6d18d;
      transition: 0.2s background-color;
      font-size: 16px;
      &:hover {
        background-color: #fcc55f !important;
        box-shadow: 0px 0px 7px 2px rgba(246, 209, 141, 1);
      }
    }
  }
  &--full-price {
    display: flex;
    color: rgb(155, 155, 155);
    font-size: 17px;
    text-decoration: line-through;
    &__price {
      margin-left: auto;
    }
  }
  &--discount {
    margin-top: 8px;
    display: flex;
    color: rgb(231, 45, 52);
    font-size: 17px;
    &__price {
      margin-left: auto;
    }
  }
  &--price {
    margin-top: 8px;
    display: flex;
    font-size: 17px;
    &__price {
      margin-left: auto;
    }
  }
  &--delivery {
    padding-top: 8px;
    display: flex;
    font-size: 17px;
    &__price {
      margin-left: auto;
    }
  }
  &--pay-price {
    margin-top: 8px;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    &__dds {
      margin-left: 5px;
      font-size: 13px;
      color: rgb(155, 155, 155);
      transform: translateY(7px);
      font-weight: 500;
    }
    &__price {
      margin-left: auto;
    }
  }
}

.hr-separator {
  border: 1px solid #e3e3e3;
  margin-top: 15px;
}
