.cart-content {
  margin: 35px 10px 10px 10px;
  &__item {
    display: flex;
    position: relative;
    margin-top: 25px;

    &--info {
      margin-right: 10px;
    }

    &--image__container {
      &--image {
        width: 100px;
        max-height: 100px;
        margin-right: 10px;
      }
      &--discount {
        position: absolute;
        top: 0;
        left: 55px;
        background-color: wheat;
        padding: 2px 8px;
        border-radius: 3px;
        font-size: 14px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    }
  }
}

.cart-price-count {
  &--count {
    display: flex;
    justify-content: space-between;
    width: 100px;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 5px;
    &__button {
      padding: 0 10px 0 10px;
    }
  }
}
