.cart-content {
  margin: 10px;
  &--wrapper {
    filter: blur(0px);
    overflow: hidden;
    transition: all 0.3s ease-in;
  }
  &--fix-element {
    padding-top: 25px;
  }
  &__item {
    display: flex;
    position: relative;

    &--trashcan {
      position: absolute;
      top: -8px;
      right: 10px;
      display: flex;
      width: 30px;
      justify-content: flex-end;
      padding-top: 10px;
      padding-bottom: 10px;
      &:hover {
        cursor: pointer;
      }
    }

    &--info {
      margin-right: 40px;
    }

    &--image__container {
      &--image {
        margin-right: 10px;
      }
      &--discount {
        position: absolute;
        top: 0;
        left: 55px;
        background-color: wheat;
        padding: 2px 8px;
        border-radius: 3px;
        font-size: 14px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
          sans-serif;
      }
    }
  }
}

.cart-price-count {
  display: flex;
  &--count {
    display: flex;
    justify-content: space-between;
    width: 100px;
    border: 1px solid rgb(201, 200, 200);
    border-radius: 5px;
    &__button {
      padding: 0 10px 0 10px;
    }
  }

  &--price {
    margin-left: auto;
    margin-right: 10px;
    position: relative;
    &__content {
      position: absolute;
      right: 0px;
      bottom: 0;
      &--full-price {
        font-size: 17px;
        text-align: right;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      }
      &--discount {
        text-align: right;
        color: silver;
        font-size: 14px;
        text-decoration: line-through;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  }
}

.cart-order {
  margin: 30px 20px 10px 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  &--full-price {
    display: flex;
    color: silver;
    font-size: 17px;
    text-decoration: line-through;
    &__price {
      margin-left: auto;
    }
  }
  &--discount {
    display: flex;
    color: rgb(255, 23, 23);
    font-size: 17px;
    &__price {
      margin-left: auto;
    }
  }
  &--price {
    display: flex;
    font-size: 17px;
    color: #666666;
    &__price {
      margin-left: auto;
    }
  }
  &--delivery {
    display: flex;
    font-size: 17px;
    color: #666666;
    &__price {
      margin-left: auto;
    }
  }
  &--pay-price {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    &__dds {
      margin-left: 5px;
      font-size: 13px;
      color: silver;
      transform: translateY(7px);
      font-weight: 500;
    }
    &__price {
      margin-left: auto;
    }
  }
}

.hr-separator {
  border: 1px solid #e3e3e3;
  margin-top: 15px;
}
