@import "../../mixins.scss";

.shopInfo {
  margin: 25px 10px 0 10px;
  overflow: hidden;
  transition: height 1.7s;
  cursor: pointer;

  @include phones-tablets-up {
    padding: 20px;
  }
  @include desktops-up {
    padding: 15px;
  }
  @include large-desktops-up {
    padding: 40px;
  }
  @include extra-large-desktops-up {
    padding: 50px;
  }
  @include s-extra-large-desktops-up {
    padding: 70px;
  }

  & > div > p {
    font-family: sans-serif;
  }

  & > div > h2 {
    font-family: math;
    line-height: 1.1;
  }

  &__title {
    font-family: math;
    text-align: center;
    line-height: 1.1;
  }
}
