.shopInfo {
  margin: 25px 10px 0 10px;
  overflow: hidden;
  transition: height 1.7s;

  & > div > p {
    font-family: sans-serif;
  }

  & > div > h2 {
    font-family: math;
    line-height: 1.1;
  }

  &__title {
    font-family: math;
    text-align: center;
    line-height: 1.1;
  }
}
