.shop-description {
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    text-align: center;
    font-size: 26px;
    font-family: math;
    color: #d99d2c;
    font-weight: bold;
    margin-bottom: 15px;
  }
}

.footer-item {
  flex: 50%;
}
