.navbar-container {
  font-size: 17px;
  margin: 10px;
  // from cursive
  font-family: auto;
  color: #5a5a5a;
  &__home {
    background-image: linear-gradient(92deg, #fcdc04 0%, #f26023 100%);
    color: transparent;
    background-clip: text;
    font-weight: bold;
  }
  & > a {
    // from cursive
    font-family: auto;
    display: inline;
  }
  &__separator {
    display: inline;
    margin: 0 5px;
  }
  &__info {
    display: inline;
  }
  &__link {
    color: #666666;
  }
  &__link-slash {
    margin: 0 5px;
  }
}
