.footer-item {
  flex: 50%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  &__image {
    margin: auto;
    margin-bottom: 15px;
  }

  &__title {
    color: #ffc300;
    font-size: 17px;
    text-align: center;
    line-height: 1.2;
    // from cursive
    font-family: sans-serif;
    flex: 1;
  }

  &__info {
    padding-top: 10px;
    text-align: center;
    font-family: sans-serif;
    line-height: 1.2;
    min-height: 47px;
  }
}
