.shop-features {
  &__items {
    display: flex;
    flex-wrap: wrap;
  }
  &__title {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: #e7bb69;
    font-weight: bold;
    margin-bottom: 15px;
  }
}
