.navbar-container {
  font-size: 13px;
  margin: 10px;
  // from cursive
  font-family: auto;
  color: #5a5a5a;

  & > a {
    // from cursive
    font-family: auto;
    display: inline;
  }
  &__separator {
    display: inline;
    margin: 0 5px;
  }
  &__info {
    display: inline;
  }
  &__link {
    color: #d2b100;
  }
  &__link-slash {
    margin: 0 5px;
  }
}
