.product-container {
  display: flex;
  flex-direction: column;

  &__info {
    flex: 1;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }

  &__price {
    margin: 10px 0 15px 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    &--discount {
      margin-left: 8px;
      color: silver;
      font-size: 16px;
      text-decoration: line-through;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }

  &__add-to-cart-button {
    background-color: wheat !important;
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 0 !important;
    border-radius: 3px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
      sans-serif;
  }
}
