.sp-container {
  & > img {
    max-width: 100%;
    min-width: 100%;
  }

  &__content {
    margin: 10px;
    &--button {
      background-color: wheat !important;
      width: 100%;
      text-transform: uppercase;
      font-size: 15px;
      padding: 8px 0 !important;
      border-radius: 3px;
      transition: 0.2s background-color;
      &:hover {
        background-color: #ffd586 !important;
      }
      &--last {
        margin-top: 3px;
      }
    }
    &__info {
      font-size: 18px;
      // from cursive
      font-family: auto;
    }
    &__product-price {
      margin: 10px 0 15px 0;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 21px;
      font-size: 21px;
      color: #edb650;
      font-weight: bold;

      &--discount {
        margin-left: 8px;
        color: silver;
        font-weight: normal;
        font-size: 17px;
        text-decoration: line-through;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  }
}

.sp-additional-info {
  margin: 25px 10px 10px 10px;
  font-size: 14px;
  &--icon {
    width: 20px;
    display: inline;
    transform: translateY(4px);
    margin-right: 5px;
    margin-bottom: 3px;
    color: #e39606;
  }

  &--href {
    display: inline;
    font-size: 15px;
    &--contact {
      color: #e39606;
      text-decoration: underline;
      text-decoration-color: #e39606;
      font-size: 16px;
    }
    &__container {
      display: flex;
      align-items: center;
    }
  }
}

.carousel-container {
  margin: 10px;
}
