@import "../../mixins.scss";

@include phones-tablets-up {
  #last-deep-separator {
    display: none;
  }
  .sp-page-container {
    display: flex;
  }
  .sp-product-container {
    padding-top: 20px;
    margin: 20px;
    flex: 50%;
    position: sticky;
    top: 110px;
    height: max-content;
  }

  .sp-contact-info-container {
    margin: 20px;
    flex: 50%;
    border: 1px solid rgb(229, 229, 229);
    border-radius: 4px;
    margin-bottom: 14px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 4px 0px,
      rgba(0, 0, 0, 0.04) 0px 10px 15px 0px;
    & div.deep-separator {
      border: none;
      background-color: white;
    }
  }
}

.sp-container {
  &__content {
    margin: 10px;
    &--button {
      background-color: wheat !important;
      width: 100%;
      text-transform: uppercase;
      font-size: 15px;
      padding: 8px 0 !important;
      border-radius: 3px;
      transition: 0.2s background-color;
      &:hover {
        background-color: #ffd586 !important;
      }
      &--last {
        margin-top: 3px;
      }
    }
    &__info {
      font-size: 18px;
      // from cursive
      font-family: auto;
    }
    &__product-price {
      margin: 10px 0 15px 0;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      font-size: 21px;
      font-size: 21px;
      color: #edb650;
      font-weight: bold;

      &--discount {
        margin-left: 8px;
        color: silver;
        font-weight: normal;
        font-size: 17px;
        text-decoration: line-through;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      }
    }
  }
}

.sp-additional-info {
  margin-bottom: -20px;
  @include phones-tablets-up {
    margin-bottom: 0;
  }
  font-size: 14px;
  &__container {
    margin: 10px 10px 20px 10px;
  }
  &--first {
    margin-bottom: 10px;
  }
  &--icon {
    width: 20px;
    display: inline;
    transform: translateY(4px);
    margin-right: 5px;
    margin-bottom: 3px;
    color: #e39606;
  }

  &--href {
    display: inline;
    font-size: 15px;
    &--contact {
      margin-top: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e39606;
      font-size: 16px;
      padding: 6px 0 !important;
      border: 1px solid #e39606;
      border-radius: 3px;
      transition: 0.2s background-color;
      &:hover {
        text-decoration: underline;
      }
    }
    &__container {
      display: flex;
      align-items: center;
    }
  }
}

.carousel-container {
  margin: 10px;
}

.sp-contact-container {
  margin-top: 10px;
}

.sp-accordion-container {
  margin: 0 10px;
}
