.header {
  height: 70px;

  &__container {
    background-color: wheat;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 12px 15px;
    z-index: 2;

    &__logo-button {
      margin-right: auto;
    }

    &__image {
      &--logo {
        & > img {
          height: 70px;
        }
      }
      &--burger {
        & > img {
          height: 50px;
        }
        margin-right: 8px;
      }
      &--cart {
        & > img {
          height: 50px;
        }
      }
    }

    &__cart-button {
      position: relative;
      &--count {
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: white;
        border-radius: 50%;
        font-size: 12px;
        height: 18px;
        width: 18px;
      }
    }
  }
}
